

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="hello.css">
    </head>
    <body>
        <div class="container">
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
        </div>
    </body>
</html>
